#aggregate-stats-grid {
    margin: 24px;

    .stat-row {
        margin-bottom: 24px;

        .stat-column {
            text-align: center;

            &.tiny {
                position: relative;
                top: 15px;
            }
        }
    }
}
