#games-table {
    .players-cell {
        display: flex;

        .player {
            display: flex;
            width: 40%;

            .player-info {
                .player-rating {
                    font-size: 12px;
                }
            }

            &.white {
                justify-content: flex-end;

                .player-info {
                    text-align: right;
                }
            }

            &.user {
                .player-name {
                    font-weight: bolder;
                }
            }
        }

        .vs-text {
            width: 20%;
            text-align: center;
            padding: 6px 0px;
        }
    }

    .outcome-cell {
        .trophy-icon {
            margin-right: 8px;
        }
    }
}
