#visualization {
    flex: 0 0 calc(100vh - 80px - 48px);
    padding: 36px 96px;
    overflow: auto;
    background-color: #ededed;

    #no-games-found {
        display: flex;
        flex-direction: column;

        #chess-piece-divider {
            display: flex;
            justify-content: space-around;
            padding: 24px 128px;
        }
    }
}
